.container {
  width: 100%;
  margin-bottom: 30px;
  .title {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    &::first-letter {
      text-transform: capitalize;
    }
  }
  .schedule {
    display: flex;
    justify-content: space-between;
  }
}
