.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  min-height: 100vh;
  padding: 20px;
  margin: auto;
}

.main {
  width: 100%;
}
